* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    width: 100%;
}

header nav {
    background-color: #fcdd9d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center
}

header a {
    /* background-color: bisque; */
    text-decoration: none;
    color: #a3b565;
    padding: 8%;
    font-family: "limon-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
}

header a:hover {
    color: #f1642e;
    text-decoration: underline;
}

header img {
    /* background-color: #f1642e; */
    width: 20%;
    /* padding-top: 30px; */
}

body {
    background-color: #c4c3e3;
}

#stamp {
    width: 300px;
    position: relative;
    left: 14%;
    border-radius: 10%;
    margin: 1%;
    padding-top: 5%;
}

.column {
    margin: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
}

h1 {
    padding-bottom: 3%;
}

.dayOne {
    background-color: #fdf8e2;
    padding: 5%;
    text-align: justify;
    line-height: 2;
}

.dayTwo {
    background-color: #fdf8e2;
    padding: 5%;
    text-align: justify;
    line-height: 2;
}

.dayThree {
    background-color: #fdf8e2;
    padding: 5%;
    text-align: justify;
    line-height: 2;
}

#event {
    width: 30%;
    position: relative;
    left: 18%;
}

.festival {
    /* background-color: #f1642e; */
    margin: 3%;
    padding: 3%;
}

#event {
    margin: 1%;
    border-radius: 10%;
}

footer {
    background-color: #fcdd9d;
    padding-top: 3%;
    padding-bottom: 5%;
    color: #a3b565;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer p {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-family: "century-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
}

.footheader {
    font-family: "limon-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
}

.footheader:hover {
    color: #f1642e;
    text-decoration: underline;
}